<h2
    mat-dialog-title
    *ngIf="content.title"
    [ngClass]="{
        'text-warning': content.type === type.warning,
        'text-danger': content.type === type.error
    }"
>
    {{ content.title }}
</h2>
<mat-dialog-content>{{ content.body }}</mat-dialog-content>
<mat-dialog-actions *ngIf="content.options.length > 0; else defaultOption">
    <button
        mat-button
        mat-dialog-close="true"
        *ngFor="let option of content.options"
        (click)="option.call()"
    >
        {{ option.title }}
    </button>
</mat-dialog-actions>
<ng-template #defaultOption>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close="true">Закрыть</button>
    </mat-dialog-actions>
</ng-template>
