<div class="d-inline-flex">
    <div *ngIf="!isAuthenticated">
        <button routerLink="login" mat-icon-button class="material-icons" aria-label="Войти">
            <mat-icon>login</mat-icon>
        </button>
    </div>
    <div *ngIf="isAuthenticated">
        <button routerLink="home" mat-icon-button class="material-icons" aria-label="Войти">
            <mat-icon>home</mat-icon>
        </button>
        <button routerLink="profile" mat-icon-button class="material-icons" aria-label="Войти">
            <mat-icon>person</mat-icon>
        </button>
        <button routerLink="logout" mat-icon-button class="material-icons" aria-label="Войти">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>
