<ng-template *ngIf="!isDisplayOver; else withOverlay">
    <div *ngIf="isShown" class="preloader spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>

<ng-template #withOverlay>
    <div *ngIf="isShown" [ngClass]="{ show: isShown }" class="fade preloader-overlay bg-dark">
        <div class="preloader spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>
