<div class="full-height d-flex justify-content-center align-items-center">
    <div class="">
        <div class="card card-container p-4 border-0 bg-white">
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input
                            matInput
                            type="text"
                            class="form-control"
                            name="username"
                            placeholder="example@email.com"
                            [(ngModel)]="form.email"
                            required
                            #email="ngModel"
                        />
                        <mat-error *ngIf="email.errors && f.submitted && email.errors['required']"
                            >Обязательное поле!</mat-error
                        >
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Пароль</mat-label>
                        <input
                            matInput
                            type="password"
                            class="form-control"
                            name="password"
                            placeholder="********"
                            [(ngModel)]="form.password"
                            required
                            #password="ngModel"
                        />
                        <mat-error *ngIf="password.errors && f.submitted && password.errors['required']"
                            >Обязательное поле!</mat-error
                        >
                    </mat-form-field>
                </div>
                <div class="mt-2">
                    <button mat-raised-button>Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>
<shared-component-preloader #preloader></shared-component-preloader>
