@import '~mdb-ui-kit/css/mdb.min.css';

html,
body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.app-container {
    height: calc(100vh - 64px);
}

.full-height {
    height: calc(100% - 64px);
}

@media (max-width: 599px) {
    .app-container {
        height: calc(100vh - 64px);
    }

    .full-height {
        height: calc(100% - 56px);
    }
}
