@import '~mdb-ui-kit/css/mdb.min.css';

/*
 * Main layout
 */

html,
body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@mixin full-space {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin full-height {
    height: 100%;
}

.full-height {
    @include full-height;
}

.app-container {
    @include full-height;
}

/*
 * Positioning
 */

.left-0 {
    left: 0 !important;
}

.left-50 {
    left: 50% !important;
}

.left-100 {
    left: 100% !important;
}

.right-0 {
    right: 0 !important;
}

.right-50 {
    right: 50% !important;
}

.right-100 {
    right: 100% !important;
}

/*
 * Overlay
 */

@mixin overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.32);
}

.overlay-full-space {
    @include full-space;
    @include overlay;
}
