<div class="sidebar-container">
    <mat-toolbar *ngIf="isAuthenticated" class="sidebar-toolbar d-flex justify-content-between" color="primary">
        <div class="d-flex align-items-center">
            <button
                *ngIf="isAuthenticated"
                (click)="snav.toggle()"
                mat-icon-button
                class="material-icons"
                aria-label="Меню"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <span class="app-name ps-3">{{ title }}</span>
        </div>
        <app-header #header></app-header>
    </mat-toolbar>
    <mat-sidenav-container class="sidebar-sidenav-container">
        <mat-sidenav #snav mode="over" opened="false">
            <app-sidebar-nav></app-sidebar-nav>
        </mat-sidenav>
        <mat-sidenav-content class="bg-light">
            <div class="container app-container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
