<div class="sidebar-container">
    <mat-toolbar class="sidebar-toolbar d-flex justify-content-between" color="primary">
        <div class="d-flex align-items-center">
            <button (click)="snav.toggle()" mat-icon-button class="material-icons" aria-label="Меню">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="app-name">{{ title }}</span>
        </div>
        <app-header #header></app-header>
    </mat-toolbar>
    <mat-sidenav-container class="sidebar-sidenav-container">
        <mat-sidenav #snav mode="over" opened="false">
            <app-side-navbar></app-side-navbar>
        </mat-sidenav>
        <mat-sidenav-content class="container app-container">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
