<mat-sidenav-container class="vh-100 overflow-hidden">
    <mat-sidenav mode="over" [(opened)]="isSidenavOpened" class="p-4">
        <div class="d-flex justify-content-center">
            <img class="logo mx-3" src="favicon.ico" alt="Лого" />
        </div>
        <mat-divider class="mt-4 mb-3"></mat-divider>
        <mat-list class="pt-0">
            <mat-list-item>
                <mat-icon matListIcon>groups</mat-icon>
                <h3 matLine>Клиенты</h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Шаблоны </mat-list-item>
            <mat-list-item> Документы </mat-list-item>
            <mat-list-item> Логи </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="overflow-hidden">
        <mat-toolbar class="d-flex justify-content-between" color="primary">
            <div class="d-flex justify-content-between align-items-center">
                <button
                    *ngIf="isAuthenticated"
                    (click)="isSidenavOpened = !isSidenavOpened"
                    mat-icon-button
                    class="material-icons"
                    aria-label="Меню"
                >
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="app-name">Finconsult</span>
            </div>
            <div>
                <div class="d-inline-flex">
                    <div *ngIf="!isAuthenticated">
                        <button routerLink="login" mat-icon-button class="material-icons" aria-label="Войти">
                            <mat-icon>login</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="isAuthenticated">
                        <button routerLink="home" mat-icon-button class="material-icons" aria-label="Войти">
                            <mat-icon>home</mat-icon>
                        </button>
                        <button routerLink="profile" mat-icon-button class="material-icons" aria-label="Войти">
                            <mat-icon>person</mat-icon>
                        </button>
                        <button routerLink="logout" mat-icon-button class="material-icons" aria-label="Войти">
                            <mat-icon>logout</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-toolbar>
        <div class="container app-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
