::ng-deep .mat-expansion-panel-header {
    padding: 0 16px !important;
    height: 48px !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

::ng-deep .mat-expansion-panel .mat-list-item {
    padding-left: 16px !important;
}

::ng-deep .mat-nav-list .is-active {
    background-color: rgb(204, 204, 204) !important;
    border-left: 8px solid rgb(139, 137, 133);
}

::ng-deep .mat-list-base {
    padding-top: 0 !important;
}

::ng-deep .mat-list-base .mat-list-item {
    padding-left: 0 !important;
}

::ng-deep .mat-list-item {
    padding-left: 0;
}

::ng-deep .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
    padding-left: 16px !important;
}

::ng-deep .mat-list-item-content {
    padding-left: 24px !important;
}

.nav-footer {
    height: 48px;
}
